.button {
  background-color:aquamarine;
  color:black;
  margin: 5px;
  display: flex;
  justify-content: center;
  border: 0px;
  padding: 5px;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  
}

body {
  background-color: rgb(101, 180, 209);
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  justify-content: center;
  color:black;
}

.loginInfo {
  font-family: cursive;
  font-size: 20px;
}

.input {
  border: 3px solid black;
  display: flex;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.login {
  display: flex;
  align-items: center;
  margin-top: 10px;
  color: white;
  background-color: rgb(204, 58, 58);
}
